<FilesMatch "(.env|.sql)$">
Order allow,deny
Deny from all
</FilesMatch>

DirectoryIndex server.php

RewriteEngine on
RewriteRule ^app/?$ - [F,L]
RewriteRule ^bootstrap/?$ - [F,L]
RewriteRule ^config/?$ - [F,L]
RewriteRule ^database/?$ - [F,L]
RewriteRule ^resources/?$ - [F,L]
RewriteRule ^routes/?$ - [F,L]
RewriteRule ^storage/?$ - [F,L]
RewriteRule ^tests/?$ - [F,L]
RewriteRule ^vendor/?$ - [F,L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /server.php/$1 [L]